@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

/* =====customization css start here===== */
.main__body {
  background-image: url("../src/assets/BG/Neon_Car.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
}
.float__set img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.float__com {
  grid-template-columns: 10fr 1fr;
}
.cmtNone {
  display: none !important;
}
.cmtHeight {
  height: unset !important;
}

/* === */
.admine {
  right: 0;
  /* transform: translateX(330px);
    transition: 0.3s ease-in-out; */
}

.admineOff {
  transform: translateX(0);
}

.transform {
  display: block !important;
  /* transform: translateX(0); */
}

.admin__logs {
  display: none;
}

.admin__logs ul li img {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 424px) {
  .admine {
    flex-direction: column;
    top: 200px;
  }

  .admin__logs {
    width: 300px;
  }
}
/* === */

/* === */
.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}

.sideOpen {
  transform: translateX(0);
}

.sidebar ul li button {
  padding: 18px 30px;
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 424px) {
  .sidebar {
    width: 100% !important;
  }
}
/* === */
/* =====customization css end here===== */
